<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:spring_named_parameter_jdbc_dao/database.properties"/>
    </bean>

    <bean id="dataSourceOracle" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="${db.oracle.username}"/>
        <property name="password" value="${db.oracle.pwd}"/>
        <property name="url" value="${db.oracle.url}"/>
        <property name="driverClassName" value="${db.oracle.driverClassName}"/>
    </bean>

    <bean class="spring_named_parameter_jdbc_dao.VenueDao">
        <property name="dataSource" ref="dataSourceOracle"/>
    </bean>

</beans>